services:
  frontend:
    build: .
    dockerfile: Dockerfile.fe
    ports:
    - "80:80"
    depends_on:
    - backend

  backend:
    build: .
    dockerfile: Dockerfile.be
    ports:
    - "5000:5000"
    depends_on:
    - db
    env_file:
      - .env

  db:
    container_name: postgres
    image: postgres:alpine
    ports:
    - "5432:5432"
    volumes:
    - data:/data/db
    environment:
    - DB_NAME='taskmanagement'
    - DB_USER='postgres'
    - DB_PASSWORD='postgres'
    env_file:
      - .env

  volumes:
    data: {}