services:
  frontend:
    build: .
    dockerfile: Dockerfile.fe
    ports:
    - "80:80"
    depends_on:
    - backend

  backend:
    build: .
    dockerfile: Dockerfile.be
    ports:
    - "5000:5000"
    depends_on:
    - db
    env_file:
      - .env
    environment:
    -  NODE_ENV=${NODE_ENV}
    - PORT=${PORT}
    - DATABASE_URL=${DATABASE_URL}
    - JWT_SECRET=${JWT_SECRET}
    - JWT_EXPIRES_IN=${JWT_EXPIRES_IN}
    - FRONTEND_URL=${FRONTEND_URL}
    - DB_SYNC=${DB_SYNC}
    

  db:
    container_name: postgres
    image: postgres:alpine
    env_file:
      - .env
    ports:
    - "5432:{DB_PORT}"
    volumes:
    - data:/data/db
    environment:
    - DB_NAME=${DB_NAME}
    - DB_USER=${DB_USER}
    - DB_PASSWORD=${DB_PASSWORD}

  volumes:
    data: {}