# CI workflow.

name: "CI pipeline for back- and frontend."

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    backend-ci-pipeline:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v6
              with:
                node-version: '24'
            - name: Install dependencies to backend.
              working-directory: ./backend
              run: npm install
            - name: Build backend.
              working-directory: ./backend
              run: npm run build
            - name: Testing backend.
              working-directory: ./backend
              run: npm test
            - name: Linting backend.
              working-directory: ./backend
              run: npm run lint
    frontend-ci-pipeline:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v6
              with:
                node-version: '24'
            - name: Install dependencies to frontend.
              working-directory: ./frontend
              run: npm install
            - name: Build frontend.
              working-directory: ./frontend
              run: npm run build
            - name: Test frontend.
              working-directory: ./frontend
              run: npm test
            - name: Linting frontend.
              working-directory: ./frontend
              run: npm run lint
    deploy-backend:
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      needs: backend-ci-pipeline
      runs-on: ubuntu-latest
      steps:
        - name: Deploy backend to Render
          env:
            deploy_url: ${{ secrets.RENDER_DEPLOY_BACKEND_HOOK }}
          run:  curl "$deploy_url"
    deploy-frontend:
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      needs: frontend-ci-pipeline
      runs-on: ubuntu-latest
      steps:
        - name: Deploy frontend to Render
          env:
            deploy_url: ${{ secrets.RENDER_DEPLOY_FRONTEND_HOOK }}
          run:  curl "$deploy_url"
            
                
                
